<h1>Create a List of Cars</h1>
<form action="/car/create" method="post">
  <label for="new-model">Car Model:</label>
  <input id="new-model" name="new-model" type="text">
  <label for="new-price">Car Price:</label>
  <input id="new-price" name="new-price" type="text">
  <label for="new-miles">Car Mileage:</label>
  <input id="new-miles" name="new-miles" type="text">
  <button type="submit">Submit</button>
</form>
